<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Family Mart
    link(rel="stylesheet", href="./css/all.css")
  body
    .container.mainImage
      .row.justify-content-center
        .bgSetting
          img(src="./img/kv.png", alt="").img-fluid
    .container.awardBlock.pb-0
      .row
        .col-12.d-flex.justify-content-center
          .showPresentBox.d-flex.flex-column.justify-content-center.align-items-center.w-100
            h3.font-weight-bold.title 頭獎
            input(type="text" placeholder="請輸入頭獎抽獎序號").form-control.rounded-0.w-100.text-center.mb-3
            button.btn.btnCustomize.w-50.font-weight-bold.d-flex.justify-content-center.align-items-center
              img(src="./img/hand.png")
              p.mb-0.ml-2 送出
    .container
      .row.justify-content-center
        h3.font-weight-bold.title 登錄紀錄
        .table-responsive.my-3
          table.table
            thead
              tr()
                th(scope='col' style="background: black") 排序
                th(scope='col' style="background: black") 登入時間
                th(scope='col' style="background: black") 抽獎號碼
            tbody
              tr
                td(scope='row') 1
                td 2020-08-17
                td 0000000000000000
        .bgSetting.px-3
          img(src="./img/cooperate.png").img-fluid        
      .row.justify-content-center.my-3
        .bgSetting
          img(src="./img/cooperate_merchant.png").img-fluid        
    .container
      //- .row.justify-content-center.TOP_BUTTON_BOX.py-md-5.mx-0.mt-3
      //-   .col-3.px-0.mb-md-3
      //-     img(src="./img/TOP_Button_A.png").img-fluid
      //-   .col-3.px-0.mb-md-3
      //-     img(src="./img/TOP_Button_B.png").img-fluid
      //-   .col-3.px-0.mb-md-3
      //-     img(src="./img/TOP_Button_C.png").img-fluid
      //-   .col-3.px-0.mb-md-3
      //-     img(src="./img/TOP_Button_D.png").img-fluid
      //-   .col-3.px-0
      //-     img.img-fluid(src="./img/TOP_Button_E.png")
      //-   .col-3.px-0
      //-     img.img-fluid(src="./img/TOP_Button_F.png")
      //-   .col-3.px-0
      //-     img.img-fluid(src="./img/TOP_Button_G.png")
      //-   .col-3.px-0
      //-     img.img-fluid(src="./img/TOP_Button_H.png")
      //- 抽福運
      //- .row.justify-content-center.mt-3
      //-   .bgSetting
      //-     img(src="./img/titleA.png").img-fluid
      //- .row.justify-content-center
      //-   .bgSetting
      //-     img(src="./img/productA_1.png").img-fluid
      //- .row.justify-content-center.align-items-center.my-3
      //-   .col-6.d-flex.justify-content-center.align-items-center.px-0
      //-     img(src="./img/title-L-A.png").img-fluid
      //-   .col-6.d-flex.justify-content-center.align-items-center.px-0
      //-     img(src="./img/title-R-A.jpg").img-fluid
      //- .row.jusitf-content-center
      //-   .table-responsive
      //-     table.table
      //-       thead
      //-         tr
      //-           th.border-0(width="50") 獎品
      //-           th.border-0(width="25") 市價
      //-           th.border-0(width="25") 數量
      //-       tbody
      //-         tr
      //-           td 北歐極光屋、破冰船＆帝王蟹之旅10日雙人遊
      //-           td 360,000
      //-           td 1
      //-         tr
      //-           td 美西深度國家公園15日雙人遊
      //-           td 350,000
      //-           td 1
      //-         tr
      //-           td 南美古國秘魯12日雙人遊
      //-           td 330,000
      //-           td 1
      //-         tr
      //-           td 日本星野假期5日雙人遊
      //-           td 160,000
      //-           td 1
      //-         tr
      //-           td 埃及古文明尼羅河遊輪紅海10日雙人遊
      //-           td 150,000
      //-           td 1
      //- .row.justify-content-center.align-items-center.my-3
      //-     img(src="./img/title-L-B.png").img-fluid
      //- .row.jusitf-content-center
      //-   .table-responsive
      //-     table.table
      //-       thead
      //-         tr
      //-           th.border-0(width="50") 獎品
      //-           th.border-0(width="25") 市價
      //-           th.border-0(width="25") 數量
      //-       tbody
      //-         tr
      //-           td 老爺飯店-老爺套房雙人1泊2食
      //-           td 68,000
      //-           td 5
      //- 增福運
      .row.justify-content-center
        .bgSetting
          img(src="./img/titleB.png").img-fluid
    .container.mt-5
      .row.justify-content-center
        .col-md-6.px-1
          .bg-white.titleBBox
            .titleImg.w-100
              img(src="./img/title-S-A.png")
            .imgBox
              img(src="./img/productB1.jpg" alt="productB1").img-fluid
            .wordBox
              p.mb-0 全家點數1000萬點(2名)
              p.mb-0 全家點數100萬點(80名)
              p.mb-0 UUPON1000點(100名)
              p.mb-0 HappyGo1000點(100名)
            //- .buttonBox
            //-   a(href="#").button.my-2.text-decoration-none 中獎回函
        .col-md-6.px-1
          .bg-white.titleBBox
            .titleImg.w-100
              img(src="./img/title-S-B.png")
            .imgBox
              img(src="./img/productB2.jpg" alt="productB2").h-100.img-fluid
            .wordBox
              p.mb-0 全家中熱每乙杯
              p.mb-0 市價：35元
            //- .buttonBox
            //-   a(href="#").button.my-2.text-decoration-none APP輸入序號
        .col-md-6.px-1
          .bg-white.titleBBox
            .titleImg.w-100
              img(src="./img/title-S-C.png")
            .imgBox
              img(src="./img/productB3.jpg" alt="productB2").h-100.img-fluid
            .wordBox
              p.mb-0 全家購物金
              p.mb-0 市價：5~100元
            //- .buttonBox
            //-   .button.my-2 臨櫃刷條碼折抵
        .col-md-6.px-1
          .bg-white.titleBBox
            .titleImg.w-100
              img(src="./img/title-S-D.png")
            .imgBox
              img(src="./img/productB4.jpg" alt="productB2").h-100.img-fluid
            .wordBox
              p.mb-0 全家專鼠好禮
              p.mb-0 市價：100~2,999元
            //- .buttonBox
            //-   a(href="#").button.my-2.text-decoration-none 贈品平台登陸
      .row.justify-content-between.bg-white.temple
        .titleImg.w-100
          img(src="../img/title-S-E.png")
        .col-12.px-0
          .bg-white.d-flex.flex-column.align-items-center.justify-content-center.pt-5.pb-3
            img(src="./img/productB5.jpg").img-fluid.mb-4
            p.mb-0.text-secondary 鎮瀾宮宮徽刺繡腰包
            p.mb-0.text-secondary.mb-3.mb-lg-0 市價：580元
        .col-lg-4.bg-white.px-0
          .d-flex.flex-column.align-items-center.justify-content-center.w-100
            img(src="./img/productB7.jpg").mb-4
            p.mb-0.text-secondary 鎮瀾宮手機掛繩
            p.mb-0.text-secondary.mb-3.mb-lg-0 市價：180元
        .col-lg-4.bg-white.px-0.w-100
          .d-flex.justify-content-center.flex-column.align-items-center
            img(src="./img/productB6.jpg").mb-4
            p.mb-0.text-secondary 鎮瀾宮和褂造型吊飾
            p.mb-0.text-secondary.mb-3.mb-lg-0 市價：150元
        .col-lg-4.bg-white.px-0.w-100
          .d-flex.justify-content-center.flex-column.align-items-center
            img(src="./img/productB8.jpg").mb-4
            p.mb-0.text-secondary 鎮瀾宮平安保庇杯套
            p.mb-0.text-secondary 市價：150元
            p.mb-0.text-secondary.mb-3.mb-lg-0 (2色隨機出貨不可挑款)
        //- .col-12.mt-3
        //-   .d-flex.justify-content-center
        //-     a(href="#").button.text-decoration-none 贈品平台登入
      .row.justify-content-center.bg-white.friday
        .titleImg.w-100
          img(src="../img/title-S-F.png")
        .bg-white.d-flex.flex-column.align-items-center.justify-content-center.pt-5.pb-3
            img(src="./img/productB9.jpg").img-fluid
        .w-100
          p.mb-3.text-secondary.text-center friDay影音單片序號
          p.mb-3.text-danger.text-left.font-weight-bold.notice 注意事項：
          ol
            li.text-secondary 請註冊/ 登入friDay影音會員，於2020/3/15前至friDay影音序號兌換頁輸入序號完成兌換，兌換成功後7天內可任選1部friDay影音標示「單片」電影免費看，選片後48小時內可無限次數播放。每帳號限領乙次。
            li.text-secondary friDay影音影片版權只提供台灣地區使用。
            li.text-secondary 網站使用規範請依friDay影音公告為準， 並保留修改、變更、終止之權利
        //- .col-12.my-3
        //-   .d-flex.justify-content-center
        //-     a(href="#").button.text-decoration-none 序號兌換登入
    .container.my-5.enjoy
      //- 享福運
      .row.justify-content-center
        .bgSetting
          img(src="./img/titleC.png").img-fluid
      .row.justify-content-center.align-items-center.mt-3.mb-5
          img(src="./img/title-L-D.png").img-fluid
      .row
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《A組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《B組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《C組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《D組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《E組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《F組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《G組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《H組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《I組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《J組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《K組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《L組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《M組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《N組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《O組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《P組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《Q組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《R組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《S組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《T組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《U組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《V組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《W組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《X組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《Y組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white
            p.my-3.text-danger.title 《Z組》
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
    .container.enjoy
      //- 添福運
      .row.justify-content-center
        .bgSetting
          img(src="./img/titleD.png").img-fluid
      .row.justify-content-center.align-items-center.mt-3.mb-5
          img(src="./img/title-L-C.png").img-fluid
      .row
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
        .col-lg-3.col-md-6.px-1
          .titleCBox.bg-white.pt-3
            .imgBox.w-100.d-flex.flex-column.align-items-center.justify-content-center
              img(src="https://fakeimg.pl/150x150").img-fluid
              p.mb-0.text-secondary.mt-3 哈根達斯
              p.mb-0.text-secondary.mb-3 草莓迷你杯1人
    .container.noticeItemTitle
      //- 注意事項
      .row.justify-content-center
        .bgSetting.px-3
          img(src="./img/titleE.png").mt-4.mb-2.img-fluid
    .container.noticeItem
      //- 注意事項
      .row.justify-content-center
        .bgSetting.px-3.w-100.text-center
          img(src="./img/noticeTitle.png").mb-4.img-fluid.noticeImg
      p 「威力好康卡」活動說明 (以下簡稱本卡)
      input(type="checkbox" id="noticeOne" checked).d-none     
      //- div.noticeOneDiv
      //-   label(for="noticeOne").title-S.d-flex.align-items-center.mb-4
      //-     p.mb-0.ml-2.mr-auto 壹、活動辦法及注意事項：
      //-     img(src="./img/add.svg" style="width: 24px; height: 24px;").ml-3.addSvg
      //-     img(src="./img/minus.svg" style="width: 24px; height: 24px;").ml-3.minusSvg
      ol.noticeOneContent
        li 販售期間：自2020年9月9日起至2020年10月6日止。
        li 本卡限量發行780,000張，每張售價100元，數量有限，售完為止。
        li 購買限制：
          ul
            li 本活動限設籍於臺灣、澎湖、金門、馬祖地區消費者參與。
            li 於全家所屬店舖販售，本卡不適用非開立全家便利商店發票之特殊店舖。
            li 持本卡人應在2020/10/31前完成兌換，如持本卡人逾兌換期限未具領兌換者，視為放棄兌換權利，不得請求補發或折換現金。
            li 本卡所兌換之商品、贈獎或折抵消費之金額不予開立統一發票。
        li 「百元威力組/加碼送」專區商品如有瑕疵，應至原兌換店舖辦理退換貨。
        li 中獎者若未滿20歲須獲得法定代理人同意並代為領取。依中華民國所得稅法規定，凡中獎價值超過新台幣$1,000元者，獎項將須列入個人年度綜合所得稅申報(稅額以獎品市價計算)。中獎價值超過新台幣$20,000元者，須繳納10%稅金(非中華民國境內居住之個人，依法扣繳20%稅金。又稅額以獎品市價計算)，全家便利商店依法代收中獎稅金，若中獎人未能如期依法繳納應繳稅額，即視為放棄得獎資格。
        li 本卡為不記名票券，任何人持本卡皆可使用，請自行妥善保管，如遭他人盜用，本卡不補發，主辦單位亦不負責。
        li 本卡正本請妥善保存以利後續中獎兌換，若有破損、影印、無法辨識或其它情形，致無法辨認真偽者，視同無效。如有仿冒、變造或以違法途徑取得本卡者，除不得兌獎外，主辦單位將保留法律追訴權。
        li 獎項詳細內容與規格以實物為準，主辦單位不負贈品之任何維護或保固責任。本活動之相關規定及詳細辦法請見活動網頁 : <a href="https://family.goodluckactivity.tw/weiligoodcard0909/About" target="_blank">連結</a>  ，如有未盡事宜，全家便利商店擁有保留、修改、暫停及解釋活動內容之權利，修改訊息將於活動網頁公佈，恕不另行通知。本活動主辦單位為：全家便利商店股份有限公司；負責人：葉榮廷；公司地址：臺北市中山區中山北路2段61號7樓；本卡使用與兌換如有疑問請洽詢現場服務人員或服務電話：0800-221-363。
        li ŠKODA Scala為1.0 TSI動能版，規格配備以實車為主，不可指定顏色。
      input(type="checkbox" id="noticeSecond" checked).d-none
      //- div.mt-3
      //-   label.title-S.d-flex.align-items-center.mb-4(for="noticeSecond")
      //-     p.mb-0.ml-2.mr-auto 貳、活動獎項及兌獎說明：
      //-     img(src="./img/add.svg" style="width: 24px; height: 24px;").ml-3.addSvg
      //-     img(src="./img/minus.svg" style="width: 24px; height: 24px;").ml-3.minusSvg
      //- p.secondPartTitle.noticeSecondContent 威力好康卡-「威力百元組」專區注意事項
      .row.justify-content-center
        .bgSetting.px-3.w-100.text-center
          img(src="./img/noticeTitle1.png").mb-4.img-fluid.noticeImg
      ol.noticeSecondContent
        li 當本區其中一段條碼無法判讀時，請補開通/列印兌換券：至全家便利商店店舖FamiPort機台，點選紅利→紅利PIN碼→PIN碼補開通→輸入14碼PIN碼開通→確認開通→輸入已開通14碼PIN碼→確認欲兌換的商品→列印兌換券。(PIN碼為條碼左下方14位英數混合值)
        li 每筆PIN碼限補開通列印乙次，熱感應紙請於有效日期前兌換完畢，並請妥善保管避免損毀、遺失或因保存不當造成無法辨識致無法兌換情形。
        li 使用時須符合本卡載明之品牌與規格。商品兌換後，無法提供退貨及換貨。
        li 本卡無法兌換現金或找零，請一次抵用完畢，不可重複使用。
      .row.justify-content-center
        .bgSetting.px-3.w-100.text-center
          img(src="./img/noticeTitle2.png").mb-4.img-fluid.noticeImg
      p KKDAY優惠券
      ol.noticeSecondContent
        li 詳細說明以KKDAY官方網站說明事項為主。
      p 必勝客優惠券
      span.mb-0 全家福袋  超值袋買1送3
      ol.noticeSecondContent
        li 外帶9吋鬆厚比薩買一送一(比薩以價高者計價$360起)，再送一份1份BBQ烤雞2腿2翅(翅腿/二節翅)+1.25L可樂乙瓶(市價$130)。
        li 結帳時出示優惠券，使用紙券後需回收。
        li 優惠日期: 2020/9/9～2020/11/30，訂購專線412-9889，手機請加(02)。
        li 限外帶，此套餐小比薩買一送一以價高者計價，若選擇加價餅皮，不論購買或贈送，皆需依門市加價規範額外加價。其他加價規範依門市公告及官網為準。
        li 必勝客官網下單訂購不適用，優惠不得併用，產品以實物為準，如遇不可抗力或原物料短缺或門市簡化菜單時間或其他非可歸責於必勝客事由等因素，以致門市無法提供相關商品，必勝客得視實際情形暫緩提供原定優惠，或提供等值商品替代，詳情請以店內公告為主，必勝客保留調整優惠之權利。
      span  全家福袋   幸福獨享餐
      ol.noticeSecondContent
        li 外帶一個個人鬆厚比薩"口味5選1"(和風章魚燒或海鮮或韓式泡菜燒肉或鐵板牛柳或彩蔬鮮菇)+1罐330ml雪碧=NT$99(最高市值$125)。
        li 結帳時出示優惠券，使用紙券後需回收。
        li 優惠日期: 2020/9/9~2020/11/30，訂購專線412-9889，手機請加(02)。
        li 限外帶，此套餐之比薩餅皮升級，須依門市加價規範加價。其他加價規範依門市公告及官網為準。
        li 必勝客官網下單訂購不適用，優惠不得併用，產品以實物為準，如遇不可抗力或原物料短缺或門市簡化菜單時間或其他非可歸責於必勝客事由等因素，以致門市無法提供相關商品，必勝客得視實際情形暫緩提供原定優惠，或提供等值商品替代，詳情請以店內公告為主，必勝客保留調整優惠之權利。
      p 肯德基優惠券
      span 全家福袋   幸福時代餐
      ol.noticeSecondContent
        li 買1塊椒香麻辣脆雞+1塊咔啦脆雞+1杯冰紅茶(小)=NT$109(原價$146)送1顆原味蛋撻(市價$35)。
        li 本券可至肯德基餐廳使用(台大卓越餐廳不適用)，結帳時出示優惠券，使用紙券後需回收。
        li 限正餐時段(10:30AM起供應)使用，使用期限：2020/9/9~2020/11/30。
        li 本券不適用外送及網路訂餐，優惠不得同時併用，圖片僅供參考，產品以實物為準，炸雞部位恕不開放挑選，皆由門市人員搭配。
        li 如遇不可抗力或原物料短缺等因素，以致門市無法提供相關商品，肯德基有權以等值商品替代，詳情請以店內公告為主，肯德基保有修改活動辦法及優惠內容的權利。
      span 全家福袋   幸福"堡"滿餐
      ol.noticeSecondContent
        li 買1個花生培根咔啦雞腿堡+1顆原味蛋撻+1杯冰紅茶(小)=NT$129元(原價$181)送1份香酥脆薯(小)(市價$27)。
        li 本券可至肯德基餐廳使用(台大卓越餐廳及新店安康餐廳及台北光復餐廳及宜蘭家樂福餐廳不適用)，結帳時出示優惠券，使用紙券後需回收。
        li 限正餐時段(10:30AM起供應)使用，使用期限：2020/9/9~2020/11/30。
        li 本券不適用外送及網路訂餐，優惠不得同時併用，圖片僅供參考，產品以實物為準，如遇門市無法提供花生培根咔啦雞腿堡，將以墨西哥莎莎霸王捲替代。
        li 如遇不可抗力或原物料短缺等因素，以致門市無法提供相關商品，肯德基有權以等值商品替代，詳情請以店內公告為主，肯德基保有修改活動辦法及優惠內容的權利。
      span 全家福袋   幸福桶桶來
      ol.noticeSecondContent
       li ６塊雞(桶)+3顆原味蛋撻+3杯冰紅茶(小)=NT$318元(原價534元)。
       li 本券可至肯德基餐廳使用(台大卓越餐廳不適用)，結帳時出示優惠券，使用紙券後需回收。
       li 限正餐時段(10:30AM起供應)使用，使用期限：2020/9/9~2020/11/30。
       li 本券不適用外送及網路訂餐，優惠不得同時併用，圖片僅供參考，產品以實物為準，炸雞部位恕不開放挑選，皆由門市人員搭配。
       li 如遇不可抗力或原物料短缺等因素，以致門市無法提供相關商品，肯德基有權以等值商品替代，詳情請以店內公告為主，肯德基保有修改活動辦法及優惠內容的權利。
      p 珍煮丹優惠券
      ol.noticeSecondContent
        li 憑此折價券可至全台珍煮丹門市使用。
        li 本折價券使用時間依全家便利商店官方活動公告為主，逾期、毀損或無法辨識則無效。
        li 本折價券恕不找零亦不得折換現金，不適用於（商品）服務禮券記載之規範。
        li 本券僅限只用一次折抵單杯飲品，使用後須繳回。
        li 珍煮丹保留本活動修改與終止之權利。
      p World Gym
      ol.noticeSecondContent
        li 憑中獎憑證信函及身分證得免費使用World Gym單點內所有設施及課程一個月。
        li 不包含部分付費設施及課程，僅開放兌換已開幕可運動俱樂部。
        li 包含World Gym Elite、World Gym Sport、World Gym Express，但不包含FITZONE及World Gym新增品牌據點。
        li 中獎人不得要求兌換現金或其他等值商品。
        li 使用者需填寫一份健身諮詢表，限20歲以上者。如為14歲以上，未滿20歲者，需請父母陪同並簽屬同意書。
        li 本獎項適用1人，限World Gym非現有會員使用，且必須在一個月內使用完畢。
        li 每位消費者限用1次贈品中獎券，不可累加使用及與其它活動優惠併用。
        li 請於使用中獎憑證信函兌換獎項之24小時以前來電World Gym預約。
        li 全台World Gym據點電話查詢：<a href="https://www.worldgymtaiwan.com/locations" targer="_blank">連結</a>
        li 本獎項須於2020年11月30日前至World Gym單點(全台多點，任擇一點兌換)辦妥相關手續，逾期者視同放棄。
        li 中獎憑證信函為兌換獎項之憑證，請詳閱上述注意事項，並填妥基本資料以進行兌換手續
        li 中獎憑證信函遺失，恕不補發
        li 此免費會籍嚴禁販售，如經查獲，需補交已使用會籍之所有費用，並負擔法律責任
        li 中獎憑證信函若有破損、影印、無法辨識或其它情形，致不可辨認真偽者，視同無效。如仿冒、變造或以違法途徑取得中獎憑證信函者，除不得兌換獎品外，主辦單位將保留法律追訴權。