<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Log In
    link(rel="stylesheet", href="./css/all.css")
  body
    .container
      .row.justify-content-center.login.align-items-center
        .col-12.col-lg-6.glasses
          h1.text-center 會員登入
          label(for="id") 帳號
          input(id="id").form-control.rounded-0.mb-3
          label(for="password") 密碼
          input(id="password").form-control.rounded-0
          .d-flex.justify-content-around.mt-4
            a(href="https://www.family.com.tw/marketing/famiclub/famiclub_join.aspx").btn.btn-success.text-decoration-none.rounded-0 註冊
            a(href="blesscard.html").btn.btn-success.text-decoration-none.rounded-0 登入